*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width:700px;
    height: 800px;
    margin: auto;
    background-color: #fcb3b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}